* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.print {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.print .star-rating {
  color: #fff;
  gap: 10px;
  background: #333;
  text-align: center;
  padding: 5px;
  border-radius: 5px;
}
.print .star-rating .print {
  color: #fff;
}
.print .star-rating .stars {
  color: #5c5c5c;
  cursor: pointer;
}
.print .star-rating .stars .fa-star.active {
  color: yellow;
}