@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url(./reset.css);

body {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  height: 2000px;
}

.inner {
  width: 1300px;
  margin: 0 auto;
}

/* header */
header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10000;
  .banner {
    background: #000;
    height: 40px;
    transition: all 0.5s;
    .lnb {
      display: flex;
      align-items: center;
      height: 100%;
      justify-content: flex-end;
      a {
        color: #ddd;
        margin-right: 10px;
        em {
          color: #bbb;
        }
      }
    }
  }
  .logo {
    filter: invert(100%);
    a {
      img {
        width: 150px;
      }
    }
  }
  nav {
    width: 1300px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    flex-direction: space;
    margin-top: 20px;
    justify-content: space-between;
    .gnb {
      display: flex;
      gap: 20px;
      li {
        a {
          color: #fff;
          &:hover {
            color: #9d725e;
            font-weight: bold;
          }
        }
      }
    }
  }
  .trigger {
    display: none;
  }
  &.active {
    background: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    .logo {
      filter: invert(0);
    }
    .gnb > li > a {
      color: #000;
    }
    .banner {
      height: 0;
      overflow: hidden;
    }
    nav {
      padding-bottom: 20px;
    }
  }
}

/* intro */
.intro {
  height: 100vh;
  background: url("./img/width_piano_banner_photoshop.gif") center/cover no-repeat;
  display: flex;
  align-items: center;
  .heading {
    text-align: center;
    color: #fff;
    /* position: relative; */
    iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* pointer-events: none; */
    /* display: none; */
    }
    img {
      width: 320px;
      position: absolute;
      left: 40%;
      top: 45%;
    }
    h1 {
      font-size: 70px;
      font-family: "Playfair Display", serif;
      font-weight: 500;
      /* font-style: italic; */
      margin-bottom: 40px;
      z-index: 2;
    }
    p {
      font-size: 22px;
      line-height: 1.5rem;
      padding: 0 150px;
    }
    a {
      font-size: 20px;
      border: 2px solid #fff;
      padding: 10px 50px;
      border-radius: 50px;
      transition: all 0.3s;
      &:hover {
        font-weight: bold;
        background: rgba(255, 255, 255, 0.3);
      }
    }
  }
}

/* About */
.about_content {
  display: flex;
  padding: 150px 0;
  align-items: center;
  div {
    &.desc {
      flex: 3;
      .desc_con {
        display: flex;
        gap: 10px;
        div {
          margin-top: 20px;
          border-right: 1px solid #ddd;
          &:last-child {
            border: none;
          }
        }
      }
      h2 {
        font-size: 30px;
        padding-right: 30px;
        color: #9d725e;
        &:first-child {
          color: #000;
        }
      }
      hr {
        margin-top: 10px;
        width: 40px;
        border: none;
        height: 3px;
        background: #9d725e;
      }
      p {
        font-size: 16px;
      }
      a {
        color: #9d725e;
        font-weight: bold;
        &:hover {
          text-decoration: underline;
        }
      }
    }
    &.photo {
      flex: 2;
      img {
        width: 100%;
        border-radius: 40% 60% 65% 35% / 40% 45% 55% 60%;
      }
    }
  }
}

/* Ranking */
.ranking {
  background: #f8f8f8;
  .brand_content {
    padding: 100px 0;
    h2 {
      font-size: 30px;
      font-weight: 600;
      margin-bottom: 20px;
    }
    hr {
      margin-top: 10px;
      width: 40px;
      border: none;
      height: 3px;
      background: #9d725e;
    }
    .items {
      display: flex;
      justify-content: space-between;
      .item_txt {
        width: 500px;
        padding-top: 20%;
        .item_txt_inner {
          display: flex;
          h1 {
            padding-top: 6px;
          }
          .item_txt_spinner {
            width: 150px;
            height: 40px;
            overflow: hidden;
            text-align: center;
            font-size: 30px;
            font-weight: bold;
            color: #9d725e;
            position: relative;
            p {
              margin: 0;
              position: absolute;
              width: 100%;
              top: 40px;
              animation: slide 2.8s infinite;
              &:nth-child(1) {
                /* animation-delay: 0s; */
                background: #f8f8f8;
                z-index: 1;
              }
              &:nth-child(2) {
                animation-delay: 1.4s;
              }
            }
          }
        }
      }
      .item {
        width: 390px;
        height: 600px;
        background: #fff;
        border-radius: 30px 0 30px 0;
        overflow: hidden;
        box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
        .up-image {
          width: 390px;
          height: 285px;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        .down-desc {
          padding: 25px;
          padding-top: 50px;
          .badge {
            font-size: 16px;
            padding: 2px 10px;
            color: #fff;
            border-radius: 10px;
            background: #9d725e;
          }
          h3 {
            font-size: 22px;
            margin: 15px 0;
          }
          p {
            font-size: 16px;
            margin-bottom: 16px;
          }
          .btn-explore {
            color: #9d725e;;
            font-weight: 600;
            img {
              transition: all 0.3s;
            }
            &:hover img {
              margin-left: 15px;
            }
          }
        }
      }
    }
  }
}

/* Testimonial */
.testimonial {
  padding: 100px 0;
  .testimonial_content {
    text-align: center;
    h2 {
      font-size: 30px;
      font-weight: 300;
      text-transform: uppercase;
    }
    hr {
      margin: 30px auto;
      width: 120px;
      height: 4px;
      border: none;
      background: #9d725e;
    }
    .myslider {
      display: flex;
      text-align: left;
      .client {
        display: flex;
        /* align-items: center; */
        gap: 20px;
        flex-direction: column;
        margin-bottom: 10px;
        img {
          width: 80%;
          height: 300px;
          border-radius: 20px;
        }
        span {
          width: 80%;
          b {
            display: block;
            font-size: 18px;
          }
        }
      }
      .coment {
        text-align: left;
        width: 74%;
        font-size: 16px;
        line-height: 1.6rem;
        /* padding: 25px; */
      }
    }
  }
}

/* slick slider */
.slick-dots button,
button.slick-arrow {
  /* border: 1px solid #f00 !important; */
  display: none !important;
}

/* CallAction */
.callaction {
  width: 100%;
  height: 450px;
  background: url("./img/closeup-hands-playing-piano-music-hobby-concept.jpg") center/cover no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  &::before {
    content: "";
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  .callaction_heading {
    position: relative;
    text-align: center;
    color: #fff;
    h2 {
      font-size: 48px;
      font-family: "Playfair Display", serif;
      font-weight: 500;
      margin-bottom: 10px;
    }
    p {
      width: 700px;
      margin-bottom: 30px;
    }
    a {
      background: rgba(255, 255, 255, 0.1);
      border: 2px solid #fff;
      padding: 10px 20px;
      border-radius: 30px;
      font-size: 18px;
      transition: all 0.3s;
      &:hover {
        background: rgba(255, 255, 255, 0.3);
      }
    }
  }
}

/* Blog */
.blog {
  padding: 100px 0;
  .blog_content {
    .blog_header {
      h6 {
        text-transform: uppercase;
        font-size: 16px;
        color: #9d725e;
      }
      h2 {
        text-transform: uppercase;
        font-size: 48px;
        margin: 10px 0;
      }
      p {
        font-size: 28px;
        line-height: 1.6rem;
        margin-bottom: 16px;
      }
      .btn-explore {
        color: #9d725e;
        font-weight: 500;
        img {
          transition: all 0.3s;
        }
        &:hover img {
          margin-left: 15px;
        }
      }
    }
    .divider {
      border: none;
      border-bottom: 1px solid #ddd;
      margin: 50px 0;
    }
    h2 {
      margin-bottom: 40px;
      span {
        color: #9d725e;
        font-size: 30px;
      }
    }
    .post_content {
      display: flex;
      gap: 20px;
      .recent_post_items {
        h6 {
          font-size: 16px;
          text-transform: uppercase;
          margin-bottom: 30px;
        }
        .post_item {
          display: flex;
          gap: 20px;
          .post_image {
            /* width: 360px; */
            height: 100%;
            border-radius: 30px 0 30px 0;
            overflow: hidden;
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
          .post_desc {
            h3 {
              font-size: 20px;
            }
            p {
              font-size: 16px;
              line-height: 1.4rem;
              span {
                display: block;
                margin-top: 20px;
                font-size: 14px;
                color: #6d6d6d;
              }
            }
          }
          &:nth-of-type(1) {
            margin-bottom: 50px;
          }
        }
      }
    }
    .shard_post_items {
      flex-direction: column;
      h6 {
        font-size: 16px;
        color: dodgerblue;
        margin-bottom: 30px;
      }
      .post_item {
        display: flex;
        gap: 20px;
        .post_image {
          /* width: 300px; */
          height: 100%;
          border-radius: 30px 0 30px 0;
          overflow: hidden;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        .post_desc {
          h3 {
            font-size: 20px;
          }
          p {
            font-size: 18px;
            line-height: 1.6rem;
            span {
              display: block;
              margin-top: 20px;
              font-size: 14px;
              color: #6d6d6d;
            }
          }
        }
        &:nth-of-type(1) {
          margin-bottom: 50px;
        }
      }
    }
  }
}

.sns {
  text-align: center;
  margin-top: 50px;
  a {
    border: 2px solid #9d725e;
    padding: 10px 20px;
    color: #9d725e;
    border-radius: 30px;
    font-weight: bold;
    transition: all 0.3s;
    &:hover {
      background: #9d725e;
      color: #fff;
    }
  }
}

/* festival */
.festival {
  width: 100%;
  height: 270px;
  background: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  .festival_heading {
    text-align: center;
    h3 {
      color: #fff;
      font-size: 26px;
      font-weight: 300;
      margin-bottom: 30px;
      span {
        font-weight: 500;
      }
    }
    .btns {
      a {
        display: inline-block;
        width: 200px;
        margin: 5px;
        font-size: 16px;
        background: #fff;
        padding: 6px;
        border-radius: 20px;
        &:nth-child(1) {
          background: #9d725e;
          color: #fff;
        }
        &:nth-child(2) {
          background: #ededed;
          color: #333;
        }
      }
    }
  }
}

/* Footer */
footer {
  position: relative;
  background-image: url(./img/music-instrument-store.jpg);
  background-position: right;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 30px 0;
  color: #fff;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* 반투명 오버레이 */
    z-index: 1; /* 오버레이의 z-index 설정 */
  }
  .footer_content {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: space-around;
    ul {
      text-align: center;
      li {
        &:first-child {
          color: #d9d9d9;
          font-weight: 500;
        }
        &.help {
          li {
            color: #959595;
            &:last-child {
              color: #eee;
              margin-top: 38px;
            }
          }
        }
      }
    }
  }
  br, hr, p {
    position: relative;
    z-index: 2;
  }
}

/* GotoTop */
.gototop {
  z-index: 100;
  width: 50px;
  height: 50px;
  display: inline-block;
  border-radius: 50%;
  background: #9d725e;
  color: #fff;
  font-size: 30px;
  text-align: center;
  line-height: 50px;
  position: fixed;
  bottom: -20px;
  right: 20px;
  bottom: -20px;
  opacity: 0;
  transition: all 0.3s;
  &.active {
    opacity: 1;
    bottom: 20px;
  }
}

@media screen and (max-width: 770px) {
  /* common */
  .inner {
    width: 100%;
    padding: 15px;
  }

  /* Header */
  header {
    .banner {
      display: none;
    }
    nav {
      width: 100%;
      padding: 0 20px;
      .gnb {
        width: 250px;
        height: 100vh;
        background: #fff;
        flex-direction: column;
        position: fixed;
        top: 0;
        right: -250px;
        text-align: right;
        padding: 80px 10px 0 0;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
        transition: all 0.3s;
        li {
          a {
            color: #000;
            font-size: 18px;
            display: block;
            padding: 10px;
          }
        }
        &.active {
          right: 0;
        }
      }
    }

    .trigger {
      display: block;
      width: 30px;
      height: 16px;
      position: absolute;
      top: 30px;
      right: 20px;
      cursor: pointer;
      span {
        width: 100%;
        height: 1px;
        background: #000;
        position: absolute;
        transition: all 0.3s;
        &:nth-child(1) {
          top: 0;
        }
        &:nth-child(2) {
          top: 50%;
        }
        &:nth-child(3) {
          top: 100%;
        }
      }
      &.active span:nth-child(1) {
        top: 50%;
        transform: rotate(45deg);
      }
      &.active span:nth-child(2) {
        top: 50%;
        opacity: 0;
      }
      &.active span:nth-child(3) {
        top: 50%;
        transform: rotate(-45deg);
      }
    }
  }
  /* intro */
  .intro {
    .heading {
      h1 {
        font-size: 40px;
      }
      p {
        padding: 0;
      }
    }
  }

  /* About */
  .about_content {
    flex-direction: column;
  }

  /* Brand */
  .brand {
    .brand_content {
      padding: 50px 0;
      .items {
        flex-direction: column;
        .item_txt {
          width: 100%;
          display: block; 
          margin-bottom: 20px;
        }
        .item {
          width: 100%;
          border-radius: 7px;
          margin-bottom: 25px;
          .up-image {
            width: 100%;
          }
        }
      }
    }
  }

  /* Testimonial */
  .testimonial {
    padding: 50px 0;
    .testimonial_content {
      h2 {
        font-size: 24px;
      }
    }
  }

  /* Call action */
  .callaction {
    .callaction_heading {
      h2 {
        font-size: 26px;
      }
    }
  }

  .blog {
    .blog_content {
      .blog_header {
        text-align: center;
        h2 {
          font-size: 36px;
        }
        p {
          font-size: 20px;
        }
        h3 {
          margin-top: 15px;
        }
      }
    }
    .post_content {
      flex-direction: column;
      .recent_post_items,
      .shard_post_items {
        .post_item {
          flex-direction: column;
          .post_image {
            width: 100%;
            border-radius: 7px;
          }
        }
      }
    }
  }
  /* Festival */
  .festival {
    padding: 15px;
    .festival_heading {
      h3 {
        font-size: 24px;
      }
      .btns {
        a {
          width: 100%;
          margin-bottom: 10px;
        }
      }
    }
  }
}

/* Footer */
footer {
  .footer_content {
    flex-direction: column;
    gap: 25px;
  }
  hr {
    margin: 10px 0;
  }
  p {
    text-align: right;
  }
}


/* animation */
@keyframes slide {
  0% { top: 0; }
  25% { top: 0; }
  50% { top: -40px; }
  75% { top: -40px; }
  100% { top: 0; }
}