* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  .left {
    display: flex;
    flex-direction: column;
    span {
      width: 20px;
      height: 20px;
      margin-bottom: 10px;
    }
    :nth-child(1) {
      background: #f00;
      animation: rotation 1s infinite;
    }
    :nth-child(2) {
      background: dodgerblue;
    }
  }
  .right {
    display: flex;
    flex-direction: column;
    span {
      width: 20px;
      height: 20px;
      margin-bottom: 10px;
      margin-left: 10px;
    }
    :nth-child(1) {
      background: yellow;
    }
    :nth-child(2) {
      background: yellowgreen;
    }
  }
}

@keyframes rotation {
  0% {
    top: 0;
    right: 0;
  }
  50% {
    transform: rotateY(190deg);
  }
  100% {
    transform: rotate(50px, 100px);
  }
}
